################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication1/obj
/WebApplication1
/ServerPD/bin/Debug/netcoreapp2.0
/ServerPD/obj/Debug/netcoreapp2.0
